@media (max-width: 576px) {
  .quiz-app,
  .quiz-end {
    padding: 20px;
  }
  .poll-item {
    padding: 20px;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .poll-pages {
    padding-bottom: 0 !important;
  }
  .poll-pages,
  .quiz-start {
    padding: 15px;
  }
  .quiz-start {
    padding-bottom: 30px;
  }
  .quiz-start__descr {
    margin-bottom: 30px;
  }
  .btn {
    line-height: 140%;
    font-size: 16px !important;
    padding: 10px 18px;
  }
  .sub-btn__wrap {
    height: 45px;
  }
  .rangin-visual__content {
    padding-left: 0 !important;
  }
  .rangin-visual__dragg {
    width: 25px !important;
  }
  .rangin-visual__top-btn,
  .rangin-visual__bottom-btn {
    width: 25px !important;
    height: 25px !important;
  }

  .rangin-visual__btns {
    padding: 5px !important;
  }

  .range-slider-visual {
    padding-top: 45px !important;
  }

  .quiz-start__head {
    flex-direction: column;
    align-items: center;
  }
  .quiz-start__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .quiz-start__title {
    text-align: center;
  }
  .quiz-start__descr {
    font-size: 16px;
  }
  .polls-pagination {
    padding: 0;
  }
  .polls-pagination,
  .poll-pages {
    margin: 0;
    border-radius: 0;
  }

  .poll-body__image-block {
    height: 50vw;
    border-radius: 4px;
    overflow: hidden;
  }
  hr {
    margin: 10px 0;
  }
  .polls-pagination.next-btn-wrapper {
    padding: 10px;
  }
  .polls-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .quiz-start__head {
    padding-top: 20px;
  }
  .quiz-start__title {
    word-break: break-word;
  }
  .single-choise-visual__label {
    padding-left: 10px;
  }

  .vs__search {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .quiz-start__title {
    font-size: 24px;
  }
  .poll-item__num {
    padding: 5px 9px;
    font-size: 16px;
  }
  .poll-item__head,
  .poll-item__name,
  .poll-item__head-wrapper,
  .poll-item__answer,
  .single-choise-visual__text,
  .vs__search,
  .vs__selected,
  .quiz-end-message,
  .rangin-visual__item {
    font-size: 16px !important;
  }
  .empty-error {
    font-size: 12px;
    margin: 10px 0;
  }
  .quiz-end-precent {
    margin-bottom: 20px;
  }
  .quiz-end-message {
    text-align: center;
    margin-bottom: 20px;
  }

  .v-select.correct .vs__dropdown-toggle,
  .v-select.uncorrect .vs__dropdown-toggle {
    padding-left: 30px !important;
  }
  .v-select.correct .vs__dropdown-toggle::before,
  .v-select.uncorrect .vs__dropdown-toggle::before {
    left: 10px;
  }
}

@media (max-width: 400px) {
  .poll-item {
    padding: 15px;
    margin: 15px 0;
  }

  .quiz-app__footer .quiz-app__footer-content {
    flex-direction: column;
  }
  .quiz-app__footer-text {
    margin-bottom: 10px;
  }

  .editor-descr {
    margin-bottom: 5px;
  }
}
